version: '3.8'

services:
  web:
    build: .
    ports:
      - ${HOST_HTTP_WEB_PORT}:80
      - ${HOST_HTTPS_WEB_PORT}:443
    depends_on:
      - db
      - rabbitmq
    env_file:
      - .env
    volumes:
      - ${HOST_OUTPUT_DIR}:/results
    
  db:
    image: postgis/postgis:16-3.4-alpine
    env_file:
      - .env
    ports:
      - ${HOST_DB_PORT}:${DB_PORT}
    restart: on-failure
    volumes:
      - postgis_data:/var/lib/postgresql/data  

  rabbitmq:
    image: rabbitmq:3-management-alpine
    env_file:
      - .env
    ports:
        - 5672:5672
        - 15672:15672
    volumes:
        - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
        - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq

volumes:
  postgis_data:

