{% extends 'base/base.html' %}
{% load static %}

{% block content %}
 <h1 class="landing-title">Links in this service</h1>
<p class="landing-description">{{ data.description }}</p>

<div class="table-wrapper">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      {% for link in data.links %}
        <tr>
          <td>{{ link.title }}</td>
          <td><a href="{{ link.href }}" target="_blank" rel="noopener noreferrer">{{ link.href }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}
