.page-title {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
}

.description {
  font-size: 16px;
  margin-bottom: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.collection-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-map {
  width: 90%;
  max-width: 1200px;
  height: 350px;
  border: 1px solid #ccc;
}

.collection-content {
  width: 90%;
  max-width: 1200px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.styled-link-list {
  list-style: disc;
  padding-left: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.styled-link-list li {
  margin-bottom: 0.2rem;
}

.styled-link-list a {
  color: #008bd1;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.styled-link-list a:hover {
  color: #0c47a1;
  text-decoration: underline;
  transform: scale(1.03);
}

a {
  color: #008bd1;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #0c47a1;
  text-decoration: underline;
  transform: scale(1.03);
}
