<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}

    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/breadcrumbs.css' %}">
    {% endblock %}
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">

    {% include "base/header.html" %}
    {% block breadcrumbs %}
      {% include "base/breadcrumbs.html" with collection=collection feature=feature %}
    {% endblock %}
    <main style="flex: 1; padding: 20px;">

      {% block content %}{% endblock %}
    </main>

    {% include "base/footer.html" %}

    {% block scripts %}{% endblock %}
</body>
</html>
