{% extends 'base/base.html' %}
{% load static %}

{% block title %}Collections{% endblock %}
<pre>
  {{ data|safe }}
</pre>

{% block content %}
  <h1 class="section-title">Data collections in this service</h1>

  <div class="content-center">
    <div class="table-wrapper">
      <table class="styled-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for collection in collections %}
            <tr onclick="window.location.href='/api/collections/{{ collection.id }}?f=html'">
              <td>{{ collection.title }}</td>
              <td>{{ collection.description }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="pagination">
      {% if has_next %}
        <a class="pagination-link" href="?f=html&limit={{ limit }}&offset={{ next_offset }}">Next</a>
      {% endif %}

      {% if has_prev %}
        <a class="pagination-link" href="?f=html&limit={{ limit }}&offset={{ prev_offset }}">Previous</a>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/collections.css' %}">
{% endblock %}
